---
layout: default
title: Home
---
<div class="catalogue">
    {% for post in paginator.posts %}
    <div class="catalogue-item">
      <a href="{{ post.url | prepend: site.baseurl }}">
                <!-- date -->
                <time datetime="{{ post.date }}" class="catalogue-date">&nbsp{{ post.date | date: "%B %d, %Y" }}</time>
                  <!-- &nbsp{% include post_tags.html %} -->

                <!-- title -->
                <h1 class="catalogue-title">
                    {{ post.title }}
                </h1>

                <!-- content -->
                <div class="catalogue-line"></div>
                <div class="catalogue-content"> {{ post.content | strip_html | truncatewords: 30 }} </div>

<div>
                <!-- comment count -->
                 <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" class="catalogue-comment-count">• 0 Comments</a>
               </div>
    </div>
  </a>
    <!-- <hr style="margin: -50px 0 30px 0"> -->
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}

    <span>{{ paginator.page }}</span>
</div>
