* {
  @include box-sizing;
  line-height: 1.3;
}

body,
html {
  color: $default-color;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  font-family: helvetica;
  font-size: 14px;
  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: helvetica;
  line-height: normal;
}

a {
  font-family: helvetica;
  font-size: 1.3rem;
  color: #AF2318;
  text-decoration: none;
}
// a:link {text-decoration: none; color: #AF2318;}
// a:visited {text-decoration: none; color: #AF2318;}
// a:active {text-decoration: none; color: #AF2318;}
// a:hover {text-decoration: none; color: #AF2318;}

blockquote {
  border-left: 0.25rem solid $grey-2;
  color: $grey-1;
  margin: 0.8rem 0;
  padding: 0.5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
